header {
  padding-top: 40px;
  background-color: var(--footer-bg);
  background-image: url("./../img/header/header-bg.jpg");
  background-size: cover;
  aspect-ratio: 1440 / 1084;

  color: var(--header-text-color);

  @include retina-bg(url("./../img/header/header-bg2k.jpg"));

  a {
    color: var(--header-text-color);
  }
}

.header__nav {
  margin-bottom: 86px;
}

.header__content {
  text-align: center;
}

.header__title {
  margin-bottom: 14px;

  font-size: 80px;
  font-weight: 700;
  line-height: 130%; /* 104px */
  letter-spacing: -0.8px;
  text-transform: capitalize;
}

.header__content p {
  margin: 0 auto;
  max-width: 606px;
  font-size: 24px;
  line-height: 160%; /* 38.4px */
}

.header__search {
  margin: 45px auto 0;
}
